
    <h2>{{ greet }} <img src="images/house2.png" /></h2>
    <h4>You can search by any of the following criteria</h4>
  <table class="table">
    <tr><td>
    <table>
      <tr>
        <td>MLS #</td>
        <td><input class="form-control" data-ng-model="listing.mlsNum"></td>
      </tr>
      <tr>
        <td>Date Listed</td>
        <td><input class="form-control" data-ng-model="listing.dateListed">
        </td>
      </tr>
      <tr>
        <td>City / State</td>
        <td><input class="form-control" data-ng-model="listing.cityState">
        </td>
      </tr>
      <tr>
        <td>Zipcode</td>
        <td><input class="form-control" data-ng-model="listing.zipcode">
        </td>
      </tr>
      <tr>
        <td>Bedrooms</td>
        <td><input class="form-control" data-ng-model="listing.bedrooms"></td>
      </tr>
      <tr>
        <td>Bathrooms</td>
        <td><input class="form-control" data-ng-model="listing.bathrooms">
        </td>
      </tr>
     <tr>
        <td>Square Feet</td>
        <td><input class="form-control" data-ng-model="listing.squareFeet">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-primary" data-ng-click="search()">
          Search</button></td>
      </tr>
    </table>
  </td>
  <td>
        <table class="table">
            <tr><td colspan='2'>{{ greet }}</td></tr>
            <tr><th>MLS#</th><th>Sales Price</th></tr>
            <tr data-ng-repeat="property in mlslist">
              <td>{{ property.mlsNum }}</td>
              <td>{{ property.salesPrice }}</td>
              <td><button class="btn btn-danger" data-ng-click="remove(property._id)">Remove</button></td>
              <td><button class="btn btn-warning" data-ng-click="edit(property._id)">
              Edit</button></td>
            </tr>
          </table>
  </td>
</tr>
</table>
