

    <h2>{{ greet }} <img src="images/house2.png" /></h2>
    <!-- setting up a nested table -->
    <table class="table">
      <tr>
        <td width='50%'>
          <table>
            <tr>
              <td>MLS #</td>
              <td><input class="form-control" data-ng-model="listing.mlsNum"></td>
            </tr>
            <tr>
              <td>Street 1</td>
              <td><input class="form-control" data-ng-model="listing.street1"></td>
            </tr>
            <tr>
              <td>Street 2</td>
              <td><input class="form-control" data-ng-model="listing.street2"></td>
            </tr>
            <tr>
              <td>City</td>
              <td><input class="form-control" data-ng-model="listing.city"></td>
            </tr>
            <tr>
              <td>State</td>
              <td><input class="form-control" data-ng-model="listing.state"></td>
            </tr>
            <tr>
              <td>Zipcode</td>
              <td><input class="form-control" data-ng-model="listing.zipcode"></td>
            </tr>
            <tr>
              <td>Neighborhood</td>
              <td><input class="form-control" data-ng-model="listing.neighborhood">
              </td>
            </tr>
            <tr>
              <td>Sales Price</td>
              <td><input class="form-control" data-ng-model="listing.salesPrice"></td>
            </tr>
            <tr>
              <td>Date Listed (mm/dd/yy)</td>
              <td><input class="form-control" data-ng-model="listing.dateListed"></td>
            </tr>
            <tr>
              <td>Bedrooms</td>
              <td><input class="form-control" data-ng-model="listing.bedrooms"></td>
            </tr>
            <tr>
              <td>Bathrooms</td>
              <td><input class="form-control" data-ng-model="listing.bathrooms"></td>
            </tr>
            <tr>
              <td>Photos</td>
              <td><input class="form-control" data-ng-model="listing.photos"></td>
            </tr>
            <tr>
              <td>Square Feet</td>
              <td><input class="form-control" data-ng-model="listing.squareFeet"></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><textarea class="form-control" data-ng-model="listing.description">
              </textarea></td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-primary" data-ng-click="addListing()">
                Add Listing</button></td>
                <td></td>
            </tr>
          </table>
        </td>

        <td width='50%'>
          <table class="table">
            <tr><th>MLS#</th><th>Sales Price</th></tr>
            <tr data-ng-repeat="property in mlslist">
              <td>{{ property.mlsNum }}</td>
              <td>{{ property.salesPrice }}</td>
              <td><button class="btn btn-danger" data-ng-click="remove(property._id)">Remove</button></td>
              <td><button class="btn btn-warning" data-ng-click="edit(property._id)">
              Edit</button></td>
            </tr>
          </table>
        </td>
    </tr>
</table>

